; Environment Config

[ENVIRONMENT]
; project environment (DEVELOP || PRODUCTION).
; This effects: DB connection, Mail-Server, SSO, ESI configurations in this file
; configuration below
SERVER                      =   PRODUCTION
[ENVIRONMENT.PRODUCTION]
; path to index.php (Default: leave blank == "auto-detect")
; -> e.g. set /pathfinder if your URL looks like https://www.[YOUR_DOMAIN]/pathfinder (subfolder)
BASE                        =
; deployment URL (e.g. https://www.pathfinder-w.space)

{{if exists "/nginx/https/enabled"}}
    {{if eq (getv "/nginx/https/port") "443"}}
URL                         =   {{"{{@SCHEME}}"}}://{{getv "/serverurl"}}
    {{else}}
URL                         =   {{"{{@SCHEME}}"}}://{{getv "/serverurl"}}:{{getv "/nginx/https/port"}}
    {{end}}
{{else}}
    {{if eq (getv "/nginx/http/port") "80"}}
URL                         =   {{"{{@SCHEME}}"}}://{{getv "/serverurl"}}
    {{else}}
URL                         =   {{"{{@SCHEME}}"}}://{{getv "/serverurl"}}:{{getv "/nginx/http/port"}}
    {{end}}
{{end}}

; level of debug/error stack trace
DEBUG                       =   0
; Pathfinder database
DB_PF_DNS                   =   mysql:host={{getv "/mysql/pathfinder/host"}};port=3306;dbname=
DB_PF_NAME                  =   {{getv "/mysql/pathfinder/dbname"}}
DB_PF_USER                  =   {{getv "/mysql/pathfinder/user"}}
DB_PF_PASS                  =   {{getv "/mysql/pathfinder/password"}}

; Universe data (New Eden) cache DB for ESI API respons
DB_UNIVERSE_DNS             =   mysql:host={{getv "/mysql/universe/host"}};port=3306;dbname=
DB_UNIVERSE_NAME            =   {{getv "/mysql/universe/dbname"}}
DB_UNIVERSE_USER            =   {{getv "/mysql/universe/user"}}
DB_UNIVERSE_PASS            =   {{getv "/mysql/universe/password"}}

; EVE-Online CCP Database export
DB_CCP_DNS                  =   mysql:host={{getv "/mysql/static/host"}};port=3306;dbname=
DB_CCP_NAME                 =   {{getv "/mysql/static/dbname"}}
DB_CCP_USER                 =   {{getv "/mysql/static/user"}}
DB_CCP_PASS                 =   {{getv "/mysql/static/password"}}

; CCP SSO
CCP_SSO_URL                 =   https://login.eveonline.com
CCP_SSO_CLIENT_ID           =   {{getv "/sso/clientid"}}
CCP_SSO_SECRET_KEY          =   {{getv "/sso/secretkey"}}

; CCP ESI API
CCP_ESI_URL                 =   https://esi.tech.ccp.is
CCP_ESI_DATASOURCE          =   tranquility
CCP_ESI_SCOPES              =   esi-location.read_online.v1,esi-location.read_location.v1,esi-location.read_ship_type.v1,esi-ui.write_waypoint.v1,esi-ui.open_window.v1,esi-universe.read_structures.v1,esi-corporations.read_corporation_membership.v1
CCP_ESI_SCOPES_ADMIN        =

; SMTP settings (optional)
SMTP_HOST                   =   localhost
SMTP_PORT                   =   25
SMTP_SCHEME                 =   TLS
SMTP_USER                   =
SMTP_PASS                   =

SMTP_FROM                   =   
SMTP_ERROR                  =   

; TCP Socket configuration (optional) (advanced)
;SOCKET_HOST                 =   127.0.0.1
;SOCKET_PORT                 =   5555